<div>
  	<h1>User info</h1>
  	<%= attachment_image_tag user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %>

  	<% if user.id == current_user.id %>

  		<table class="table">
  			<tbody>
  				<tr></tr>
  				<tr>
  					<th>name</th>
  					<th><%= current_user.username %></th>
  				</tr>
  				<tr></tr>
  				<tr>
  					<th>introduction</th>
  					<th><%= current_user.introduction %></th>
  				</tr>
  			</tbody>
  		</table>


		<%= link_to edit_user_path(user), class: "edit_user_#{user.id}" do %>
    		<i class="col-xs-12 btn btn-default glyphicon glyphicon-wrench"></i>
    	<% end %>

    	<% else %>

    	 <table class="table">
  			<tbody>
  				<tr></tr>
  				<tr>
  					<th>name</th>
  					<th><%= user.username %></th>
  				</tr>
  				<tr></tr>
  				<tr>
  					<th>introduction</th>
  					<th><<%= user.introduction %></th>
  				</tr>
  			</tbody>
  		</table>

   		<% end %>


	<h2>New book</h2>
	<%= form_for(book) do |f| %>
	<label>Title</label>
	<br>
	<%= f.text_field :book_name, class: "col-xs-12 book_title" %>
	<br>
	<label>opinion</label>
	<br>
	<%= f.text_area :caption, class: "col-xs-12 book_body" %>
	<br>
	<br>
	<br>
	<%= f.submit 'Create Book', class: "btn btn-primary col-xs-12" %>
	<% end %>
</div>
