<p>books/index</p>

<div class="container">
  <div class="row">
    <div>
      <% if flash[:success] %>
      <p><%= flash[:success] %></p>
      <% end %>
    </div>

    <div>
      <% if @book.errors.any? %>
        <h3><%= @book.errors.count %> errors prohibited this user from being saved:</h3>
        <div id="error_explanation" class="alert alert-danger">
            <ul>
                <span style="color:red">
                    <% @book.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                    <% end %>
                </span>
            </ul>
        </div>
      <% end %>
    </div>

    <div class="col-lg-3">
      <%= render 'partial/sidebar', user: @user, book: @book  %>
    </div>
    
    <div class="col-lg-9">
      <h2>Books</h2>
      <table class="table">
        <tr align="center">
          <th></th>
          <th>title</th>
          <th>opinion</th>
        </tr>

          <% @books.reverse_each do |book| %>

          <tr>
            <td><%= attachment_image_tag book.user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %></td>
            <td><%= link_to book.book_name, book_path(book.id) %></td>
            <td><%= book.caption %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="col-xs-3 col-xs-offset-9">
      <p>CopyRight Infratop.inc</p>
    </div>
  </div>
</div>
