<p>books/show</p>

<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <%= render 'partial/sidebar', user: @bookdetail.user, book: @book  %>
    </div>
    <div class="col-lg-9">
      <h2>Book detail</h2>
      <table class="table">
      <tr>
          <td><%= attachment_image_tag @bookdetail.user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %></td>
          <td> <%= link_to @bookdetail.user.username, user_path(@bookdetail.user.id), class: "book_#{@book.id}" %></td>
          <td><%= @bookdetail.book_name %></td>
          <td><%= @bookdetail.caption %></td>
          <td>
            <% if @bookdetail.user.id == current_user.id %>
              <th><%= link_to "Edit", edit_book_path(@bookdetail.id), class: "btn-sm btn-success edit_book_#{@bookdetail.id}" %></th>
              <th><%= link_to "Destroy", book_path(@bookdetail.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn-sm btn-danger destroy_book_#{@bookdetail.id}" %></th>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-xs-3 col-xs-offset-9">
      <p>CopyRight Infratop.inc</p>
    </div>
  </div>
</div>