<div class="container">
    <div class="row">
    <div class="col-lg-2">
   <h3>Log in</h3>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div id="error_explanation" class="alert alert-danger">
        <ul>
           <% flash.each do |name, msg| %>
             <li><%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %></li>
           <% end %>
        </ul>
     </div>

      <label>name</label>
      <%= f.text_field :username, autofocus: true, class: "form-control", id:"inputEmail" %>
      
    <br>

      <label>Password</label>
      <%= f.password_field :password, autocomplete: "off", class: "form-control", id:"inputEmail" %>
      
      <br>
      <br>
    <%= f.submit "login", class: "sign_in" %>
  <% end %>
<br>
<%= link_to "Sing up",new_user_registration_path, class: "sign_up" %>
<br>
<%= link_to "Forgot your password?",new_user_registration_path %>
</div>
<div class="col-lg-10">
<div></div>
<div>
</div>
</div>
