<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>booker-level2</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" >
    <link rel="stylesheet" href="style.css">
  </head> 

  <body>

    <div class="header" id="header">
      <nav class="navbar navbar-main navbar-shadow" role="navigation" id="slide-nav" style="background-color: #000000">
        <div class="container relative">
          <div class="navbar-header">
   
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <div id="slidemenu">
  <ul class="nav navbar-nav navbar-right" data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn" >
    <% if user_signed_in? %>

      <li>
        <%= link_to  user_path(current_user.id), class: 'home' do %>
        <i class="glyphicon glyphicon-home home"></i>
        <span>home</span>
        <% end %>
      </li>
      <li>
        <%= link_to "users", users_path, class: "users" %>
      </li>
      <li>
        <%= link_to "books", books_path, class: "books" %>
      </li>
      <li>
        <%= link_to "logout", destroy_user_session_path, class: "logout", method: :delete %>
      </li>
    <% else %>
    <li>
        <%= link_to "home", root_path, class: "home" %>
      </li>
    <li>
        <%= link_to "about", books_about_path, class: "about" %>
      </li>
      <li>
        <%= link_to "sign up", new_user_registration_path, class: "sign_up" %>
      </li>
      <li>
        <%= link_to "login", new_user_session_path, class: "sign_in" %>
      </li>
    <% end %>
  </ul>
</div>
        </div>
      </nav>
    </div>
  <%# if notice %>
　　<p class="alert alert-notice"><%#= notice %></p>
<%# end %>
<%# if alert %>
   <p class="alert alert-error"><%#= alert %></p>
<%# end %>
 <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>">
            <div class="container">
              <%= value %>
            </div>
          </div>
          <% end %>

    <%= yield %>

   
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="col">
              <br>
              <p class="no-margin" style="font-size: 11px;">
              <br>
          </p>
          </div>
          <div class="col-md-2">
            <div class="col">
            </div>
          </div>
        </div>
      </div>
    
  </body>
</html>
